body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flixable-contailer {
    display: flex;
    margin-bottom: 100px;
}

.half-with {
    width: 50%;
    padding: 5%;
}

.half-with img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background: linear-gradient(orange, red);
    padding: 10px 30px;
    border-radius: 8px;
    color: whitesmoke;
    font-weight: 900;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiecnce-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experiecnce-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding-left: 20px;
}

#full-stack-devloper {
    border-left: 5px solid rgb(30, 28, 167);
}

#baby-devloper {
    border-left: 5px solid blueviolet;
}

footer p {
    text-align: center;
}